huggingface-hub==0.23.4
humanfriendly==10.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
inquirerpy==0.3.4
intel-openmp==2021.4.0
langchain==0.2.8
langchain-cohere==0.1.9
langchain-community==0.2.7
langchain-core==0.2.19
langchain-experimental==0.0.62
langchain-openai==0.1.16
langchain-text-splitters==0.2.2
langsmith==0.1.86
streamlit==1.36.0
sympy==1.13.0
tabulate==0.9.0
tbb==2021.11.0
tenacity==8.5.0
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==2.3.1+cu118
torchaudio==2.3.1+cu118
torchvision==0.18.1+cu118
tornado==6.4.1
tqdm==4.66.4
transformers==4.42.4
tritonclient==2.47.0
typer==0.12.3
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
